[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Pp]rojectSettings/Packages/
[Pp]rojectSettings/ProjectVersion.txt
[Uu]nityGenerated/
[Ll]ogs/
[Aa]ssets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.vsidx
*.vsidx
/.vs/CoinDash/FileContentIndex
Packages/packages-lock.json
.vs/CoinDash/v17/DocumentLayout.json
